body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    padding: 20px;
}
.form-container {
    background-color: #fff;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}
.form-group {
    text-align: left;
}
.btn-predict {
    background-color: #007bff;
    display: inline-block;
    /*width: 50%;*/
    color: white;
    transition: background-color 0.3s;
}
.btn-predict:hover {
    background-color: #0056b3;
    color: white;
}
#predictionResult {
    margin-top: 20px;
}
#predictionChart {
    margin-top: 30px;
}